# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode and editor files
.vscode/
.history/

# Streamlit cache
.streamlit/

# Temporary/log files
*.log
*.csv
*.tmp

# Large model/data (except final model)
# Ignore all .pkl except eye_detection_model.pkl
*.pkl
!eye_detection_model.pkl

# Ignore all data sets
dataset/
.virtual_documents/
anaconda_projects/

# OS & Misc
.DS_Store
Thumbs.db

# Ignore PDFs except README/docs
*.pdf
!README.md
